.resizable.ui-resizable{height:200px;padding:5px;position:relative;border:1px solid #a9a9a9;}.ace-editor{position:absolute !important;top:0;left:0;right:0;bottom:0;}
.view-content h2{font-size:30px !important;}#page{background-color:#f0f1f2 !important;}div.views-col{margin-right:15px;width:31.333% !important;}
.site-branding__logo img{height:50px;width:50px;}
