.view-content h2{font-size:30px !important;}#page{background-color:#f0f1f2 !important;}.photo_grid .views-col,.business_grid .views-col,.commercial_grid .views-col,.company_grid .views-col,.military_grid .views-col{margin-right:15px !important;width:31.333% !important;}
.site-branding__logo img{height:50px;width:50px;}
